// Specific CSS for your home-page
.home-page {
  background: rgba(0, 0, 0, 0.9);
  color: #FFF;
}

.banner-image {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: top;
}

.text {
  width: 400px;
  text-align: left;
  font-size: 20px;
  align-items: left;
}

.title {
  font-size: 50px;
}

.content {
  height: 200px;
  align-items: left;
  color: white;
  margin-left: 10%;
  padding-top: 250px;
}

.button-box{
  padding-top: 200px;

}

#button-homepage {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 15px;
  margin-left: 10%;
}

.white-text {
  color: white;
}

