 .dashboard-container {
  display: flex;
 }

.dashboard-page {
  background-color: white;
}

.chart-container {
  height: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  margin: 40px 20px 20px;
}

.btn-dashboard {
  height: 35px;
  border-radius: 7px;
  align-items: center;
}

.section-title {
  border-bottom: solid 1px grey;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  color: black;
}

.add-subscription-btn {
  color: #234B8B;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}

.total-billing {
}

.whole-dashboard-background {
  background-color: #16243b;
 }

 .activity-sidebar{
  display: flex;
  flex-direction: column;
  width: 30%;
 }

 .top-subscriptions {
  color: #234B8B;
 }

 .fun-facts {
  display: flex;
  justify-content: center;
 }

 .fact-item {
  padding: 20px 20px;
  margin: 20px 20px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
 }

 .dashboard-elements {
  display: flex;
 }



