
.chart-container {
  height: 385px;
  width: 800px;
  padding: 30px 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
  margin: 40px 20px;
    #myChart {
    padding: 30px 30px;
  }
}

.facts-and-graph-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.color-code-and-subscriptions-container {
  width: 800px;
}


.section-title {
  border-bottom: solid 1px #e7e7e7;
  // margin: 20px 0;
  display: flex;
  justify-content: space-between;
  color: black;
}

.add-subscription-btn {
  border: solid 1px #5f84b9;
  background: #5f84b9;
  color: white;
  border-radius: 7px;
  transition: 0.2s;
}

.add-subscription-btn:hover {
  background-color: #234B8B;
  color: white;
}

.whole-dashboard-background {
  background-color: #16243b;
 }

.top-subscriptions {
  color: #234B8B;
 }

.fun-facts {
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
 }

.oldest-subscription-fact {
  position: relative;
  left: 1;
  width: 40px;
 }

.fact-item {
  width: 200px;
  padding: 20px 20px;
  margin: 0px 10px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
 }

.dashboard-elements {
  display: flex;
 }

 .dashboard-title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: solid 1px #e7e7e7;
  margin: 40px;

 }

 .subs-btn-box {
  margin: 10px;
 }


