.subscriptions-overview-navbar {
  display: flex ;
  width: 100% ;
  // height: 1px;
  position: relative ;
  flex-wrap: wrap ;
  -webkit-box-align: center ;
  align-items: center ;
  -webkit-box-pack: justify ;
  justify-content: space-between ;
  padding: 1rem 2rem ;
  font-family: Montserrat ;
}

// .index-navbar {
//   display: flex;
//   width: 100%;
//   // height: 1px;
//   flex-wrap: wrap;
//   -webkit-box-align: center;
//   align-items: center;
//   -webkit-box-pack: justify;
//   justify-content: space-between;
//   padding: 0rem 2rem;
//   font-family: Montserrat;
//   background-color: white;
//   border-bottom: solid 1px #e7e7e7;

//     a.index-nav-link {
//       font-size: 17px;
//     }
// }

.subscriptions-overview-underline-menu {
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid transparent;
  // hsla(0, 0%, 100%, 0.2);
  list-style-type: none;

  &:hover {
    li:not(:hover) a {
      opacity: 0.4;
    }
  }

  li {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #382f2f;
      transform: scaleX(0);
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover,
    &.active {
      &::after {
        transform: scaleX(1);
      }
    }

    .subscriptions-overview-nav-item {
      position: relative;
      display: flex;
      padding: 30px 25px 30px 25px;
      line-height: 1;
      text-decoration: none;
      color: #382f2f;
      transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }}

a.subscriptions-overview-nav-link {
  color: #382f2f;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.subscriptions-overview-subscripto-logo {
  height: 50px;
}
