.whole-show-background {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-card {
  background-color: white;
  height: 70%;
  width: 25%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.show-title-logo{
  width: 160px;
  height: 160px;
}

.show-card-header {
  height: 75px;
  border-bottom: #e7e7e7 solid 1px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  align-items:center;
  h2 {
    font-size: 25px;
    margin: 0;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}

.show-card-title {
  display: flex;
  align-items: center;

}

// .show-card-body-logo {
//   height: 160px;
//   width: 160px;
// }


.show-card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  p {
    font-size: 14px;
  }
}

.show-card-body-text {
  height: 150px;
  width: 70%;
  margin-top: 55px;
  p {
    text-align: center;
  }
}

.show-cancel-button {
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 15px;
  // color: #4b74b0;
}

// .show-card-body-text {
//   width: 80%;
// }

.show-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  button.btn.btn-danger {
    border-radius: 20px;
  }
}

#button-manage-show {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border-radius: 30px;
  font-size: 11px;
}

// .show-card-description {
//   position: absolute;
//   bottom: 0;
//   left: 20px;
//   font-size: 14px;
// }

.nav-buttons {
  display: flex;
}

.back-button {
  margin: 6px 18px;
  border-radius: 25px;
}

// .show-company-logo {
//   border: lightgrey solid 1px;
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   align-items: center;
//   margin-bottom: 15px;
// }


