.subscription-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   background-color: white;
  // height: 120px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // overflow: hidden;
  margin: 10px 0 36px 0;
  // border-radius: 7px;
  position: relative;
  // width: 98%;
}

.card-trip-pricing {
  position: absolute;
  right: 16px;
  top: 15px;
  font-size: 16px;
}

.subscription-card-info {
  overflow: hidden;
  background: white;
  padding: 10px;
}

.subscription-card-info h2 {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 70px;
  top: 20px;
}

.subscription-card-info p {
//   font-size: 12px;
//   opacity: .7;
//   bottom: 10px;
  // left: 10px;
// padding: 0px;
  margin-top: 50px;
}


.subscription-card-info {
  // padding: 16px;
  // display: flex;
  // flex-direction: column;
  // position: relative;
}

.card-trip-user {
  position: absolute;
  left: 16px;
  top: 5px;
  width: 40px;
}

.manage-button {
  position: absolute;
  right: 16px;
  bottom: 15px;
}

.subscription-card-header {
  height: 45px;
  border-bottom: lightgrey solid 1px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  align-items:center;
}

#button-manage-subscriptions {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border-radius: 30px;
  font-size: 11px;
}

.subscription-card-description {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 14px;
}

.company-logo {
  border: lightgrey solid 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.subscription-title {
  margin-right: 740px;
  font-size: 20px;
}




// .subscription-card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 10px;
// }

// .subscription-card p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 10px;
// }

// .subscription-card-info {
//    padding: 16px;
//   display: flex;
//   align-items: flex-start;
//   bottom: 0px;
//   position: relative;
// }

// .card-trip-user {
//   position: absolute;
//   width: 40px;
//   top: 584px;
//   // margin: 10px;
// }

// .card-trip-pricing {
//   position: absolute;
//   // top: 10px;
//   right: 180px;
//   margin: 30px;
// }

