.subscription-card {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px 0 10px 0;
  position: relative;
  border-radius: 7px;
  transition: transform .5s ease;
}

.card-trip-pricing {
  position: absolute;
  right: 16px;
  top: 15px;
  font-size: 16px;
}

.subscription-card-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background: white;
  padding: 10px;
  p {
    margin: 10px 0;
    color: #234B8B;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.card-trip-user {
  position: absolute;
  left: 16px;
  top: 5px;
  width: 40px;
}

.subscription-card-header {
  height: 45px;
  border-bottom: lightgrey solid 1px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  align-items:center;
}

#button-manage-subscriptions {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border-radius: 30px;
  font-size: 11px;
}

.subscription-card-description {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 14px;
}

.company-logo {
  border: lightgrey solid 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.subscription-title {
  margin-right: 740px;
  font-size: 20px;
}

.zoom:hover {
  transform: scale(1.03);
}

.red-status {
  background-color: red;
  height: 50px;
  width: 10px;
}
.yellow-status {
  background-color: yellow;
  height: 50px;
  width: 10px;
}
.green-status {
  background-color: green;
  height: 50px;
  width: 10px;
}

.subscriptions-table-category-names {
  display: flex;
  justify-content: space-between;
}

